* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
width: 100px;
}


section {
background-color: aqua;
padding: 20px;
}

.container {
    background-color: blanchedalmond;
    border: 1px solid black;
    width: 900px;
    height:700px;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.number3 {
    align-self: self-end;
}

.number4 {
    align-self: self-end;
}



